<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<center>
    <body>
    <h1>Create Star</h1>

    <span style="color:deepskyblue;" th:if="${message}" th:text="${message}"></span>

    <form th:action="@{/create}" method="post" th:object="${star}">

        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><input type="text" th:field="*{type}"/></td>
            </tr>
            <tr>
                <td>Galaxy:</td>
                <td><input type="text" th:field="*{galaxyName}"/></td>
            </tr>
            <tr>
                <td>Luminosity:</td>
                <td><input type="text" th:field="*{luminosity}"/></td>
                <td th:if="${#fields.hasErrors('luminosity')}" th:errors="*{luminosity}"></td>
            </tr>
            <tr>
                <td>Distance:</td>
                <td><input type="text" th:field="*{distance}"/></td>
                <td th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create Star"></td>
            </tr>
        </table>

        <a th:href="@{/}">Back to list</a><br>

    </form>
    </body>
</center>
</html>