<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<center>
<body>
<h1>Edit Star</h1>
<th:block th:if="${message}">
    <p style="color:blue" th:text="${message}"></p>
</th:block>
<form th:action="@{/edit}" th:object="${star}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td><input type="text" th:field="*{type}"/></td>
        </tr>
        <tr>
            <td>Galaxy:</td>
            <td><input type="text" th:field="*{galaxyName}"/></td>
        </tr>
        <tr>
            <td>Luminosity:</td>
            <td><input type="text" th:field="*{luminosity}"/></td>
            <td th:if="${#fields.hasErrors('luminosity')}" th:errors="*{luminosity}"></td>

        </tr>
        <tr>
            <td>Distance:</td>
            <td><input type="text" th:field="*{distance}"/></td>
            <td th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}"></td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
<a th:href="@{/}">Back To List</a>
</body>
</center>
</html>